#title {
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: larger;
}
#title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 70px;
  transition: 0.5s ease-out;
  background: var(--primary-color);
}
#title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
  transform-origin: bottom left;
  width: 120px;
}

main {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

details > * {
  padding-left: 2rem;
}
details > summary:focus,
details > summary:hover {
  color: var(--auxillary-color);
  transition: var(--transition-time);
}

summary {
  font-size: 1.3rem;
}

article {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

section {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  width: max-content;
  gap: 0.6rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 2, 4, 0.2);
}
section:focus,
section:hover {
  transform: translate(-0.2rem, -0.6rem);
  transition: 0.4s ease-out;
}

section > img {
  margin-right: 2ch;
  height: calc(var(--h2-size) * 2 + 1rem);
  width: auto;
}

.hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

h3 {
  margin: 0;
}
.Nepali {
  font-weight: normal;
}
