:root {
  accent-color: #00aff0; /*you will not use this; it is used by browser!*/
  --accent-color: #2b6eb5;
  --main-color: white;
  --primary-color: black;
  --secondary-color: #00aff0;
  --tertiary-color: #f36710;
  --auxillary-color: #ee161f;
  --out_of_focus-color: rgba(100, 100, 100, 0.4);
  --container-border_radius: 1.6rem;
  --input-border_radius: 0.4rem;
  --input-padding: 0.8rem;
  --transition-time: 0.3s;
  --h1-size: 2rem;
  --h2-size: 1.6rem;
  --h3-size: 1.2rem;
  --header-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, system;
}

header {
  box-shadow: var(--header-shadow);
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
a:focus,
a:hover {
  color: var(--auxillary-color);
}
*:focus {
  outline: 1px dashed var(--tertiary-color);
}

#logout {
  font-size: large;
  font-weight: bold;
  color: var(--accent-color);
  background-color: transparent;
}
#logout:focus,
#logout:hover {
  color: var(--auxillary-color);
}

select,
button {
  font-size: 0.9rem;
}

table {
  border-spacing: 0;
  width: 100%;
  box-shadow: var(--header-shadow);
}
thead {
  text-align: left;
  color: #f8f9fa;
  background-color: dimgrey;
}
th {
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
th:first-child {
  border-top-left-radius: 0.5rem;
}
th:last-child {
  border-top-right-radius: 0.5rem;
}
tr {
  border-bottom: 1px solid lightgrey;
}
tr:nth-of-type(even) {
  background-color: whitesmoke;
}
tr:last-of-type {
  border-bottom: 2px solid dimgrey;
}
td {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
